body {
    background-color:aliceblue;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Title of page */
h1{
    text-align: center;
    font-size: 48px;
}

/* Navigation Bar */
nav ul {
    background-color:navy;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: forestgreen;
}

/* Topics and Suggestions Divs (only for homepage) */
.container {
    display: flex;
    justify-content: center;
}

.topics, .suggestions{
    width: 50%;
    padding: 20px;
    margin: 20px;
    border: 2px solid navy;
}

.topics ul, .suggestions ul {
    list-style-type: none;
}

.topics li {
    float: left;
    margin: 20px;
    width: 25%;
}

.topics li a, .suggestions li a {
    background-color: navy;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.topics li a:hover, .suggestions li a:hover {
    background-color: forestgreen;
}

.suggestions li {
    font-weight: bold;
    margin-top: 30px;
}