body {
    background-color:aliceblue;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Title of page */
h1 {
    text-align: center;
    font-size: 48px;
}

/* Navigation Bar */
nav {
    overflow: hidden;
    background-color: navy;
}
  
nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdownButton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}

nav a:hover, .dropdown:hover .dropdownButton, nav .current {
    background-color: forestgreen;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: navy;
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: forestgreen;
}


.dropdown:hover .dropdownContent {
    display: block;
}

/* Intro and Topics Divs (only for homepage) */
.intro, .topics h2, .topics h3{
    text-align: center;
}

.intro, .topics{
    width: 80%;
    padding: 20px;
    margin: auto;
    border: 2px solid navy;
}

.intro ul, .topics ul {
    list-style-type: none;
}

.intro a, .topics a {
    background-color: navy;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.intro a:hover, .topics a:hover {
    background-color: forestgreen;
}

.intro li, .topics li {
    font-weight: bold;
    margin-top: 25px;
}

.list {
    display: flex;
}

.first_half, .second_half{
    width: 50%;
}